.container {
    display: inline-flex;
    margin-top: 50px;
}

.snacks-recipe-container {
    border: 4px solid white;
    background-color: #181818;
    border-radius: 3px;
    width: 500px;
}

.snacks-recipe-header {
    color: cyan;
    font-size: xx-large;
    padding: 10px;
}

.snacks-recipe {
    color: cyan;
}